<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Googol</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="container">
    <img th:src="@{/image/logo.jpeg}" alt="Logo" class="logo" />

    <input type="text" id="shared-query" class="search-bar" placeholder="Write here..." maxlength="200"/>
  <div class="actions">
    
      <form action="/search" method="get" class="form_class" onsubmit="copyQuery(this)">
        <input type="hidden" name="query" />
        <div class="action">
        <button type="submit" class="buttons">
          <img th:src="@{/image/lupa.png}" alt="Search" />
        </button>
        <p>Search</p>
        </div>
      </form>

     
      <form action="/indexing" method="get" class="form_class" onsubmit="copyQuery(this)">
        <input type="hidden" name="query" />
        <div class="action">
        <button type="submit" class="buttons">
          <img th:src="@{/image/adicionar.png}" alt="Insert" />
        </button>
        <p>Insert new URL</p>
        </div>
      </form>

      <div class="action">
      
      <a th:href="@{/statistics}" class="action">
        <button type="button" class="buttons">
          <img th:src="@{/image/base-de-dados.png}" alt="Statistics" />
        </button>
      </a>
      <p>Statistics</p>
      </div>
    
     
      <form action="/specificurl" method="get" class="form_class" onsubmit="copyQuery(this)">
        <input type="hidden" name="query" />
        <div class="action">
        <button type="submit" class="buttons">
          <img th:src="@{/image/arquivo.png}" alt="Search specific URL" />
        </button>
        <p>Search specific URL</p>
      </div>
      </form>

      <form action="/hacker" method="get" class="form_class" onsubmit="copyQuery(this)">
        <input type="hidden" name="query" />
        <div class="action">
        <button type="submit" class="buttons">
          <img th:src="@{/image/hacker.png}" alt="Hacker" />
        </button>
        <p>Index HackerNews</p>
      </div>
      </form>
    </div>
  </div>
  </div>
 
  <script>
    function copyQuery(form) {
      const sharedInput = document.getElementById('shared-query');
      const hiddenInput = form.querySelector('input[name="query"]');
      hiddenInput.value = sharedInput.value;
    }
  </script>
</body>
</html>
